@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik:700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.parent {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 0.25fr, 0.25fr, 0.5fr, 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 2 / 4; }
.div2 { grid-area: 2 / 1 / 3 / 4; }
.div3 { grid-area: 3 / 1 / 4 / 4; }
.div4 { grid-area: 4 / 1 / 5 / 4; }

.div1 {
    text-align : center;
    font-family: 'Potta One', cursive;
    font-size: 3.5em;
    
}

img {
    height: 75%;
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.div3 {
    height: 100%;
    position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
    font-family: 'Dancing Script', cursive;
  cursor: pointer;
  outline: none;
  color: #000000;
  background-color: #FF0E0E;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#button:hover {background-color: #F81111}

#button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#quote {
    font-size: 4em;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
      text-align: center;
  font-size: 6em;
  letter-spacing: 5px;
  animation: colorRotate 6s linear 0s infinite;
}

@keyframes colorRotate {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}



